<ion-content>
  <ion-scroll scrollY="true" [ngStyle]="{
      'height': '130px',
      'background-image': 'url(https://www.celina-tours.com/images/tours/porto-noite/porto-noite1-slide.jpg)',
      'background-position': 'center center',
      'background-size': 'cover'
    }">
    <ion-toolbar color="transparent">
      <ion-title>
        <h1>Por Perto</h1>
      </ion-title>
    </ion-toolbar>

    <ion-footer>
      <ion-toolbar color="transparent">
        <ion-title>
          <h4>Você está no Porto</h4>
        </ion-title>
      </ion-toolbar>
    </ion-footer>
  </ion-scroll>
  <ion-row>
    <ion-col *ngFor="let post of posts" col-4>
      <span class="place">{{ post.place }}</span>
      <span class="distance">{{ post.distance }}</span>
      <img width="100%" [src]="post.img" />
    </ion-col>
  </ion-row>

  <div style="padding-left: 30px">
    <h1 color="white">Arquitetura</h1>
    <ion-slides #slideArquitect style="height:120px;">
      <ion-slide *ngFor="let item of arquitecture">
        <ion-grid no-padding>
          <ion-row>
            <ion-col col-12 [ngStyle]="{
              'height': '80px',
              'background-image': 'url(' + item.img + ')',
              'background-position': 'center center',
              'background-size': 'cover'
            }"
            ></ion-col>
            <ion-col col-12>
              <ion-grid>
                <ion-row>
                  <ion-col no-padding col-8>
                    <h6 no-margin text-left style="font-size: 0.8em;">{{ item.name }}</h6>
                  </ion-col>
                  <ion-col no-padding col-4>
                    <h6 text-right style="font-size: 0.6em;color:gray">{{ item.distance }}</h6>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
    </ion-slides>

    <h1 color="white">Rotas</h1>
    <ion-slides #slideRoutes style="height:120px;">
      <ion-slide *ngFor="let item of arquitecture">
        <ion-grid no-padding>
          <ion-row>
            <ion-col col-12 [ngStyle]="{
              'height': '80px',
              'background-image': 'url(' + item.img + ')',
              'background-position': 'center center',
              'background-size': 'cover'
            }"
            ></ion-col>
            <ion-col col-12>
              <ion-grid>
                <ion-row>
                  <ion-col no-padding col-8>
                    <h6 no-margin text-left style="font-size: 0.8em;">{{ item.name }}</h6>
                  </ion-col>
                  <ion-col no-padding col-4>
                    <h6 text-right style="font-size: 0.6em;color:gray">{{ item.distance }}</h6>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
    </ion-slides>
  </div>

  <!--<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>-->
</ion-content>
